.hero {
    height: 100vh;
    min-height: 700px;
    background-color: var(--quill-gray);
    &::before {
        content:"";
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(var(--color-dark), 0.05);
    } 
    &__container {
        position: relative;
        height: 100%;
    }
    &__title {
        margin: 0;
        margin-bottom: 40px;
        font-size: 72px;
        font-weight: 700;
        max-width: 540px;
    }
    &__descr {
        margin: 0;
        font-size: 18px;
        font-weight: 500;
    }
    &__image {
        position: absolute;
        right: 273px;
        bottom: 0;
        max-height: 90%;
    }
    &__content {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 0 260px;
    }
}

.banner-slider {
    width: 100%;
    height: 100%;
    overflow: hidden;
    .swiper-slide {
        height: 100%;
    }
}

.banner-page {
    bottom: 46px;
    left: 50%;
    transform: translateX(-50%);
    .swiper-pagination-bullet {
        margin: 0 12px;
        width: 6px;
        height: 6px;
        background-color: var(--color-white);
        opacity: 0.5;
    }
    .swiper-pagination-bullet-active {
        position: relative;
        width: 6px;
        height: 6px;
        background-color: var(--color-dark);
        opacity: 1;
        &::before {
            content: "";
            position: absolute;
            width: 20px;
            height: 20px;
            z-index: -1;
            border-radius: 100%;
            left: 50%;
            top: 50%;
            transform: translateX(-50%, -50%);
        }
    }
}

.marketing {
    position: absolute;
    left: 50px;
    bottom: 50px;
    padding: 10px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
    background-color: var(--color-white);
    display: flex;
    max-width: 280px;
    transform: translateX(-150vw);
    transition: transform .3s;
    &--visible {
        transform: translateX(0);
        transition: transform .3s;
    }
    &__image {
        flex-shrink: 0;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__text {
        margin-left: 10px;
    }
    &__descr {
        display: block;
        font-size: 11px;
        color: var(--color-gray);
        margin-bottom: 7px;
    }
    &__title {
        margin: 0;
        padding-right: 20px;
        font-size: 15px;
        color: var(--color-dark);
    }
    &__subtitle {
        display: block;
        padding-right: 40px;
        margin-top: 10px;
        font-size: 11px;
        color: var(--color-gray);
    }
    &__close {
        position: absolute;
        z-index: 9;
        padding: 0;
        right: 10px;
        top: 10px;
        width: 10px;
        height: 10px;
        background: url('../icons/hero/close.png') no-repeat center;
        cursor: pointer;
    }
}