.hero {
    height: 100vh;
    min-height: 700px;
    background-color: var(--quill-gray);
    &::before {
        content:"";
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(var(--color-dark), 0.05);
    } 
    &__container {
        height: 100%;
        padding: 0 300px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    &__title {
        margin: 0;
        margin-bottom: 40px;
        font-size: 72px;
        font-weight: 700;
        max-width: 540px;
    }
    &__descr {
        margin: 0;
        font-size: 18px;
        font-weight: 500;
    }
    &__image {
        position: absolute;
        right: 273px;
        bottom: 0;
        max-height: 90%;
    }

}