.product {
    position: relative;
    &__image {
        margin-bottom: 20px;
        img{
            object-fit: cover;
            max-height: 100%;
        }
    }
    &__title {
        margin: 0;
        margin-bottom: 8px;
        color: var(--color-tundora);
        font-size: 13px;
        a {
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            }
        }
    }
    &__price {
        color: var(--color-dark);
        font-size: 13px;
    }
}